html { height:100%; width: 100%; }
body { height:100%; width: 100%; padding: 10px; }

#filters {
	display: inline-block;
	margin: 10px;
}

#position {
	float: left;
	margin-right: 10px;
	display: inline-block;
	position: relative
}

div.well {
	height: 100%;
	margin: 0;
	padding: 20px;
	background-color: white;
	border-color: #8AC23C;
	border-width: 2px;
}
.control-group {
	width: 300px;
}

/* Prettify */

h3.header { 
	margin: 0;
	padding: 0;
}

#nav {
	margin: 0;
    border: 0;
    padding: 0;
    background-color: #8AC23C;
    color: white;
    height: 100px;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-brand img {
    height: 250%;
    margin-left: 5px;
    margin-right: 5px;
}

h1, h2 {
    color: white;
}

#state {
	float: left;
	margin-right: 10px;
	display: inline-block;
	position: relative
}

div.col-left {
	padding-right: 2.5px;
}

div.col-right {
	padding-left: 2.5px;
}

div.row-top {
	padding-top: 5px;
}

div.row-bottom {
	padding-top: 5px;
	padding-bottom: 5px;
}







